@import "../index.scss";

.main {
    display: flex;
    max-width: 100vw;
}

ul {
    list-style-type: none;
    padding: 0;
}
  
.container {
    background-color: $dark-blue-800;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 30px;
    width: 100%;
    border-radius: 30px;
}

.containerInfo {
    text-align: center;
    width: 80%;
}

.titulo {
    font-size: 2rem;
}

.paragrafoInfo {
    font-size: 1rem;
    text-align: justify;
}

.listaInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left
}

.paragrafoListaInfo {
    font-size: 1rem;
    text-align: justify;
}

.paragrafoListaInfo::before {
    content: "- ";
    font-weight: bold;
    font-size: 1.5rem;
    color: $yellow-800;
    left: 0;
    top: 0
}

.paragrafoListaInfo strong {
    color: $yellow-800;
}

.listaInte {
    display: grid;
    margin: 0 30px 50px;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colunas iguais */
    gap: 30px; /* Espaço entre as células */
}

.integrante {
    display: flex;
    background-color: $dark-blue-700;
    width: 100%;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
}

.infoInte {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.imgInte {
    width: 100%;
    height: auto;
    border-radius: 15px;
}