.friend {
  display: flex;
  padding: 20px;

  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.414);
  background-color: darkblue;

  img {
    display: flex;
    border-radius: 5px;
    height: 60px;
  }
  p {
    padding-left: 25px;
    font-size: 18px;
  }
}
